lab12 гс/Задание 3 XML Schema code.XML

<?xml version="1.0" encoding="UTF-8" ?> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="who">
        <xs:sequence>
            <xs:element name="Kia" type="xs:string"/>

            <xs:element name="paragraph" type="xs:string"/>
            <xs:element name="block" type="xs:string"/>
            <xs:element name="whom" type="xs:string"/>

        </xs:sequence>
    </xs:complexType>
</xs:schema>

